.addPlant__form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.addPlant__form label {
    display: flex;
    gap: 10px;
}

.addPlant__form input, .addPlant__form select, .addPlant__form textarea {
    border-radius: 4px;
    border: none;
    padding: 0.4rem;
    outline: 0;
}

option:hover {
    background-color: rgb(157, 104, 7);
}

.form__section-care, .switch {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.form__section-care p, .switch p {
    margin: 0;
    text-align: left;
}

.form__checkbox-group, .form__radio-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}