.alert {
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: fit-content;
}

.alert__success {
    border: 1px solid rgb(27, 66, 27);
}

.alert__error {
    opacity: 0;
}

.alert p {
    margin: 0;
}