.form__radio-group {
    display: block;
	margin: 0 0 0 40px;
	cursor: pointer;
	user-select: none;
	position: relative;
}

.form__radio-group input {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
}

.form__radio-group input:before {
    content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 0;
	transition: all 0.3s ease;
    border: 1px solid #adb5bd;
    border-radius: 100%;
    cursor: pointer;
}

.form__radio-group input:checked:before {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}